@font-face {
  font-family: "Apex-Light";
  src: url("./fonts/Apex\ Mk3-ExtraLight.otf");
}

@font-face {
  font-family: "Apex-Medium";
  src: url("./fonts/Apex\ Mk3-Medium.otf");
}

@font-face {
  font-family: "Moon-Light";
  src: url("./fonts/Moon2.0-Light.otf");
}

@font-face {
  font-family: "Moon-Regular";
  src: url("./fonts/Moon2.0-Regular.otf");
}

@font-face {
  font-family: "Moon-Bold";
  src: url("./fonts/Moon2.0-Bold.otf");
}

@font-face {
  font-family: "Anodina-Bold";
  src: url("./fonts/Anodina/Anodina-Bold.otf");
}

@font-face {
  font-family: "Anodina-Regular";
  src: url("./fonts/Anodina/Anodina-Regular.otf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: Anodina-Bold;
}

p {
  font-family: Anodina-Bold;
  font-size: 1.5em;
}
