@import "./variables.scss";

body {
  --color-text: #cccccc;
  --color-bg: #080808;
  --color-link: #ee9a00;
  --color-link-hover: #8e5c00;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: Futura, "futura-pt", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Relancer;
  src: url("/dist/assets/Relancer-Regular.otf");
}

@font-face {
  font-family: Bolt;
  src: url("/dist/assets/Bolt-Regular.ttf");
}

h1 {
  font-family: Relancer;
  font-size: 2em;
  @include md {
    margin: 5px auto 50px auto;
    font-size: 11em;
    line-height: 0.9em;
  }
}

p {
  font-family: Bolt;
  font-size: 1em;
  line-height: 1.5;
  @include md {
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: normal;
  }
}

.canvasContainer {
  position: fixed;
}

.about {
  position: absolute;
  margin: 8% 5% 0 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include md {
    width: 40%;
  }

  &__innerContent {
    width: 80%;
  }
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  > * {
    margin-right: 10px;
  }

  :first-child {
    svg {
      margin-left: 0;
    }
  }
}

.icon {
  fill: var(--color-text);
  margin: 10px 10px;
}

.link {
  width: fit-content;
  color: var(--color-text);
  display: flex;
  align-items: center;
}

.fade {
  opacity: 0;
}

.highlight {
  color: yellowgreen;
}

.sk-cube-grid {
  position: absolute;
  top: 40vh;
  left: calc(50vw - 40px);
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: var(--color-text);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
